.wrap--footer {  
  background: linear-gradient(180deg,
    var(--dusty-blue-violet),
    var(--dusty-blue-violet-dark));
  background-size: 100% 100%;
  color: var(--percent-95);  
  padding-top: 2rem;
  @include for-tablet-landscape-up {
    padding-top: 4rem;
  }  
}
.antispam { 
  display:none;
}
input:focus + [role="tooltip"] {
	display: block;
	position: absolute;
	top: 100%;
}

.wrap--contact {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 3rem;
}

.wrap--social {
  .social__list {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
  }
  .social__list-item {
    @extend %tac;
    flex-basis: 25%;
    a {
      color: var(--percent-80);
      padding: 2rem;
      transition: all .3s ease-in-out;
      &:visited {
        color: var(--percent-50);
      }
      &:hover {
        color: var(--dusty-rose);
      }      
    }
    svg {
      max-height: 4rem;
      max-width: 4rem;
    }
  }
}

.wrap--colophon {
  padding: 0 0 2rem;
  p {
    @extend %tac;
    color: var(--percent-50);    
  }
}