* {
  box-sizing: border-box;
  transition: all .3s ease-in-out 0;
}

:focus {
  outline-color: var(--logo-green);
  outline-style: solid;
  outline-width: medium;
}

// Remove some of normalize's settings:
body {
  margin: 0;
  padding: 0;
}

// Animated background color gradient:
body {
  width: 100vw;
  height: 100%;
  background: linear-gradient(-45deg, 
    var(--yellow-green-pale),
    var(--blue-green-pale),
    var(--blue-violet-pale),
    var(--rosy-pink-pale));
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {  	
		background-position: 0% 50%
	}
}

.wrap--header {
  grid-area: header;
}

.wrap--intro {
  grid-area: intro;
}

.wrap--portfolio {
  grid-area: portfolio;
}

.wrap--footer {
  grid-area: footer;
}

// Only grid on body.home (index.html)
.home {
  .wrap {
    display: grid;
    grid-template-areas: "header"
                         "intro"
                         "portfolio"
                         "footer";
  }
}
