@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg, 25%);
  } 
}

.button {
 @extend %tac;
 @extend %uc;
 border: none;
 border-radius: .25rem;
 color: var(--white);  
 font-family: var(--header-font);
 font-weight: 700;
 font-size: 1.5em;
 letter-spacing: 1px;
 line-height: 1;
 padding: 2rem;
 text-decoration: none;
}

// Use your variable color(s) to replace $bg
// and specify type of .btn-XXX
.button--green {
   @include button-bg($logo-green);
   color: var(--percent-40);
   &:hover {
     color: var(--white);
   }
}

.button--green-dark {
   @include button-bg($logo-green-dark);
   color: var(--dusty-blue-violet-dark);
   &:hover {
     color: var(--white);
   }
}

.button--small {
  font-size: 1em;
  padding: 1rem;
}

