::focus {
  outline-color: var(--link-color-normal);  
}

.brand__link {
  display: block;
  padding: 2rem;
  transition: all .3s ease-in-out 0s;
  &:hover {
    background: var(--percent-40); 
    filter: sepia(1) hue-rotate(220deg) brightness(.77);

  }
}

//a:not(.brand__link) 
// Animate Linke Underlines
// http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
a:not(.brand__link):not(.button):not(.social__link):not(.link--card) {
  color: var(--link-color-normal);
  position: relative;
  text-decoration: none;
  &:active,
  &:hover {
    color: var(--link-color-hover);     
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--link-color-hover);
    visibility: hidden;
    transform: scaleX(0);
    transition: all .3s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

a:visited {
  color: var(--link-color-visited);
}

a.button {
  text-decoration: none;
}

.link--reverse a:not(.brand__link):not(.button):not(.social__link) {
  color: var(--dusty-rose-light);
  &:visited {
    color: var(--percent-80);
  }
  &:active,
  &:hover {
    color: var(--white);     
  }
  &:before {
    background-color: var(--white);
  }
}

a.link--card {
  color: var(--white);
  display: block;
  text-decoration: none;
}
